/* Root variables */
:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Body font weight */
body {
  font-weight: var(--font-weight-regular);
}

/* Headings font weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}